* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --zc-backg:#000000;
    --zc-footbr:#222222;
    --zc-endmeet: #4a4a4a;
    --zc-pincpal: #69737e;
    --zc-shares:#4bc800;
    --zc-endmwrite: #ee112d;
    --zc-icons: #ffffff;
}

header {
    min-width: 1900;
    max-width: 1900;
}
/*Utilitis*/

.icon_top   {
    background-color: var(--zc-endmeet);
    color: var(--zc-icons);
    float: right;
    margin-right: 0.5rem;
    padding: 0.2rem 0.2rem;
    border-radius: 5px;
}

.header {
    background-color: var(--zc-backg);
    
    height: 80px;
    width: 100%;
}
/*Header*/

.container {
    background-color: var(--zc-backg);
    width: 100%;
    height: 900px;
    padding: 0 5%;
    overflow: scroll;
}

.row {
    width: calc(100% / 21 * 21);
}

.cards {
    background-color: azure;
    float: left;
    height: 150px;
    width: 250px;
    margin: 7.5px 2.5px;
}