* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --zc-backg:#000000;
    --zc-footbr:#222222;
    --zc-endmeet: #4a4a4a;
    --zc-pincpal: #69737e;
    --zc-shares:#4bc800;
    --zc-endmwrite: #ee112d;
    --zc-icons: #ffffff;
}

header {
    min-width: 1900;
    max-width: 1900;
}

.cards_bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.41);
    color: white;
    padding: 0.2rem 0.2rem;
}

.cards_bottom> i {
    padding: 0.1rem 0.2rem;
}


/*Utilitis*/

.icon_top   {
    background-color: var(--zc-endmeet);
    color: var(--zc-icons);
    float: right;
    margin-right: 0.5rem;
    padding: 0.2rem 0.2rem;
    border-radius: 5px;
    gap: 1rem;
}

.icon_top > i {
    padding: 0.2rem 0.2rem;
}

.header {
    background-color: var(--zc-backg);
    height: 80px;
    width: 100%;
}
/*Header*/

.container {
    background-color: var(--zc-backg);
    width: 100%;
    height: calc(100vh - 160px);
    padding: 0 3%;
    overflow-y: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cards {
    position: relative;
    height: 150px;
    width: 250px;
    margin: 7.5px 2.5px;
}
/*Main*/

.foot_bar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--zc-footbr);
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100%;
    margin-bottom: 0px;
}

span {
    color: var(--zc-icons);
    font-size: 15px;
    padding-bottom: 5rem 0.5rem;
}

.foot_bar i{
    color: white;
    padding-bottom: 0.5rem;
}

/* Footer general*/

.foot_left {
  display: flex; 
  width: auto;
  padding-left: .5rem;
}

.box_a, .box_b, .box_c, .box_d{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
}



/* Footer left*/

.foot_center {
    display: flex;
    justify-content: flex-start;
    width: auto;
}

.box_e, .box_f, .box_g, .box_h, .box_i, .box_l, .box_m, .box_n, .box_o {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem;
}

/* Footer center*/

.foot_right > button {
    background-color: var(--zc-endmwrite);
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-right: 1rem;
}
/* Footer right*/









